<div class="row">
    <div class="col-xs-2"><img class="img-responsive" src= {{item.imageUrl}}>
    </div>
    <div class="col-xs-4">
        <h4 class="product-name"><strong>{{item.name}}</strong></h4><h4><small>{{item.description}}</small></h4>
    </div>
    <div class="col-xs-6">
        <div class="col-xs-6 text-right">
            <h6><strong>${{item.price | number:'1.2-2'}} <span class="text-muted">x</span></strong></h6>
        </div>
        <div class="col-xs-4">
            <input type="text" class="form-control input-sm" value= {{item.quantity}} id="quantity{{item.id}}">
        </div>
        <div class="col-xs-2">
            <button type="button" class="btn btn-link btn-xs" (click)="deleteItem(item)">
                <span class="glyphicon glyphicon-trash"> </span>
            </button>
        </div>
    </div>
</div>