// Mixin
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container#page-not-found {
  margin-top: 20px;
}

.col-4 {
  text-align: center;
}

.panel {
  background-color: lightcoral;
}
